.commentContainer {
    width: 100%;
    max-width: 95%;
    height: auto;
    padding: 1rem;
    background-color: #FEF7E1; /* Set background color to FEF7E1 */
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    gap: 0.5rem;
    box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);
    -moz-box-shadow: 0px 8px 8px 0px rgba(62,39,35,1);   
    border-top: 1px solid #3e2723;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
}

.txtBox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.txtStyle {
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: transparent;
    word-wrap: break-word;
    color: #3e2723; /* Set text color to F2F2F7 */
    font-family: 'Arial', sans-serif;
    text-align: start;
}

.dateStyle {
    font-size: 0.9rem;
    color: #3e2723; /* Set text color to F2F2F7 */
    font-family: 'Arial', sans-serif;
    background-color: transparent;
}

.usernameStyle {
    font-size: 1.5rem; /* Increased font size for username */
    font-weight: 600; /* Slightly bold */
    color: #3e2723; /* Set text color to F2F2F7 */
    background-color: transparent;
}

.sentimentStyle {
    font-size: 1rem;
    font-weight: 500; /* Medium weight */
    margin-top: 0.5rem;
    opacity: 0.9; /* Slightly faded for softer appearance */
    background-color: transparent;
    color: #F2F2F7; /* Set text color to F2F2F7 */
}
