.login-page, /* Ensure this class is used in your component */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #bda871;
}

/* Ensure main takes up remaining space */
.login-page{
    flex-grow: 1; /* Allows main to take up remaining space */
    display: flex;
    justify-content: center;
    align-items: center; /* Center the content vertically */
    padding-top: 2em;  /* Add padding at the top to create space between header and content */
    padding-bottom: 2em;  /* Add padding at the bottom to create space between content and footer */
}

.login-page section {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
}

.login-page h2 {
    text-align: center;
    color: #333;
}

.login-page form {
    display: flex;
    flex-direction: column;
}

.login-page input {
    margin-bottom: 15px; /* Increased spacing for better readability */
    padding: 12px; /* Adjusted padding for consistent appearance */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Ensures the input fields take the full width of their container */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.login-page button {
    background-color: #f39c12;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 1em;
}

.login-page button:hover {
    background-color: #e67e22;
}

.login-page p {
    text-align: center;
}

/* Ensure sections are shown by default */
#loginSection{
   
    display: block; /* Change to block to show sections */

}
#signupSection {
    display: block; /* Change to block to show sections */

}

/* Additional styles for responsiveness */
@media (max-width: 500px) {
    .login-page section {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
}

/* Flexbox to keep footer at the bottom */
.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page takes full height */
}


.custom-shape-divider-top-1732550487 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.white{
    
}

.custom-shape-divider-top-1732550487 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
}

.custom-shape-divider-top-1732550487 .shape-fill {
    fill: #FFE49B;
}

.custom-shape-divider-bottom-1732551475 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1732551475 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 135px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1732551475 .shape-fill {
    fill: #2C281B;
}